{
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "semi": ["warn"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "comma-dangle": ["error", "always-multiline"],
    "react/prefer-stateless-function": ["error"],
  }
}