html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.left-windows {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.right-windows {
  position: absolute;
  display: flex;
  right: 0;
  flex-direction: column;
  height: 100vh;
}

.window {
  width: 250px;
  background-color: lightsteelblue;
  z-index: 99;
  padding: 10px 15px;
  margin: 5px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.window .title {
  display: flex;
  justify-content: space-between;
}

.window .icon {
  display: flex;
  align-items: center;
}

.window .icon, .window .icon svg, .window .icon path {
  cursor: pointer;
}

.window h1 {
  font-weight: bold;
  font-size: 1.7em;
}

/*
 * Window Item List
 */

.window-item-list {
  margin-top: 10px;
}

.window-item-list li, .properties-list li {
  padding: 5px;
  margin: 3px 0;
}

.window-item-list li.selected {
  background-color:#7e9dc5;
}

.window-item-list li:hover {
  background-color:gray;
  cursor:pointer;
}

.innerObject li {
  display: flex;
  align-items: center;
}

.innerObject li .label {
  margin-right: 8px;
  text-transform: capitalize;
}

.property input[type="text"], .property input[type="number"] {
  width: 100%;
}

/*
 * Window Tools Row
 */

.window-tools-row {
  margin: 10px 0 5px 5px;
}

.window-tools-row li {
}

.window-tools-icon {
  display: inline-block;
  padding: 5px;
}

.window-tools-icon:hover {
  cursor: pointer;
  background-color: gray;
}
