html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.left-windows {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.right-windows {
  position: absolute;
  display: flex;
  right: 0;
  flex-direction: column;
  height: 100vh;
}

.window {
  width: 250px;
  background-color: lightsteelblue;
  z-index: 99;
  padding: 10px 15px;
  margin: 5px;
}

.window h1 {
  font-weight: bold;

  font-size:1.7em;
}

.window ul {
  margin-top:10px;
}

.window ul li {
  padding: 5px;
  margin:3px 0;
}

.window ul li.selected {
  background-color:#7e9dc5;
}

.window ul li:hover {
  background-color:gray;
  cursor:pointer;
}