html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input,
button,
textarea,
:focus {
  outline: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-windows {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.right-windows {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  flex-direction: column;
  height: 100vh;
}

.window {
  width: 250px;
  z-index: 99;
  padding: 10px 15px;
  margin: 5px;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.window .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.window .title .bp3-heading {
  margin-bottom: 0;
}

/*
 * Window Item List
 */
.window-items-list {
}

.property input[type='text'],
.property input[type='number'] {
  width: 100%;
}

/*
 * Window Tools Row
 */

.window-tools-row {
  margin: 10px 0 5px 5px;
}

.window-tools-row li {
}

.window-tools-icon {
  display: inline-block;
  padding: 5px;
}

.window-tools-icon:hover {
  cursor: pointer;
  background-color: gray;
}
